body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: #333;
  }
  
  label {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
  }
  
  #countryInput {
    padding: 10px;
    font-size: 16px;
  }
  
  button {
    display: inline-flex;
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
  }
  
  button:hover {
    background-color: #2c5aa0;
  }
  
  #result {
    margin-top: 20px;
    text-align: center; /* Agregado para centrar el contenido */
  }
  
  #flag {
    max-width: 150px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  