body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;

}
#contenedordad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contenedorson {
    width: 20%;
    height: 40%;
    background-color: white;
    display: flex;
    flex-direction: column; /* Cambio para mostrar los elementos en columna */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    box-shadow: 40px 10px 10px rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
}


button {
    --button_radius: 0.75em;
    --button_color: #e8e8e8;
    --button_outline_color: #000000;
    font-size: 17px;
    font-weight: bold;
    border: none;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin: 5px; /* Agregar un margen entre los botones si es necesario */
}

.button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transition: transform 0.1s ease;
}

button:hover .button_top {
    transform: translateY(-0.33em);
}

button:active .button_top {
    transform: translateY(0);
}